@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;500;600;700&display=swap');

$primary-text-color: #4a4a4a;
$primary-site-color: #ee2c30;

$primary-font: 'Poppins',sans-serif;