.header-container {
	background-color: #0e0e0e;
	padding: 0;

	&__menu {
		display: flex;
		flex-flow: row nowrap;
		justify-content: right;
	}
	&__item {
		list-style: none;
		padding: 0 14px;

		a {
			color: #fff;
			font-size: 1.5rem;
			text-transform: uppercase;
			font-weight: 600;
			transition: all .5s ease;
			text-decoration: none;
			letter-spacing: 1px;

			&:hover {
				color: $primary-site-color;
				transition: 0.3s;
			}
		}
	}
}